## Tittle of the Project : Data Science Tools and Ecosystem

### Exircise 3 : Introduction
* In this notebook, Data Science Tools and Ecosystem are summarized.

### Exircise 4: List of Data Science Languages:
Some of the popular languages that Data Scientists use are:
* Python
* R
* Julia
* ..

### Exircise 5 : Data Science libraries:

Some of the commonly used libraries used by Data Scientists include:

* Pandas
* Matplotlib
* Scikit-learn
*...

### Exircise 6: Table of Data Science Tools 
* Jupyter Notebook 
* RStudio           
* VS Code 
* ...

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples.

* Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
## Exircise: Create a code cell to multiply and add numbers.

(3*4)+5

17

In [6]:
# Exercise 9 - Create a code cell to convert minutes to hours

## This will convert 300 min to our

minitues= 300
hour = 300/60
print("300 minutes are converted to hours:",hour)

300 minutes are converted to hours: 5.0

### Exercise 10 - Insert a markdown cell to list Objectives

Objevtives are given below : 
Exercise 1: Create a Jupyter Notebook
Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Exercise 3 - Create a markdown cell for an introduction. (1 pt)
Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)

Exercise 12 - Share your notebook through GitHub (3 pts)

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

### Author Name : Taylan Tatlı